@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

body {
    margin: 0;
    background-color: #FAFAFA;
    font-family: "Dongle", serif;
}

/*글씨체*/
.dongle-bold {
    font-family: "Dongle", serif;
    font-weight: 700;
    font-style: normal;
}

/*상단 네비게이션 바*/
.navbar {
    display: flex; /*세로로 있던 박스들을 가로로 바꾼다*/
    justify-content: space-between; /*박스들 사이에 빈 공간을 넣어준다.*/
    align-items: center; /*네비바에 있는 박스들을 네비바 내에서 가운데 정렬해준다*/
    background-color: #FAFAFA;
    padding: 8px 10px; /*네비바 공백 위아래로 8px 양 옆으로 12px*/
}

.navbar_logo {
    padding-left: 0;
}

.navbar_title {
    font-size: 30px;
    padding-right: 100px;
}

/*메인 페이지*/
.main_page {
    height: 500px;
    margin: 50px;
    text-align: center;
    padding: 50px;
}

p {
    line-height: 120%;
}

.greetings {
    font-size: 400%;
}

.introduce {
    font-size: 300%;
}

.gallery_page {
    padding: 100px;
    height: 600px;
    line-height: 120%;
    text-align: center;

}
.gallery_text{
    text-align: center;
    display: block;
    font-size: 50px;
    color: #c9ab81;
}
#galleryContainer {
    display: flex; /* 가로로 정렬 */
    flex-direction: row; /* 행 방향으로 배치 */
    gap: 20px; /* 이미지 간격 */
    overflow: hidden; /* 넘치는 이미지 숨김 */
    white-space: nowrap; /* 줄바꿈 방지 */
    justify-content: center; /* 가운데 정렬 */
}
.slide_box{
    width: 327.5px;
    height: 450px;
    flex-shrink: 0;
}
.slide_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.slide_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
}
.main-tit{
    display: flex;
    flex-basis: 100%;
    font-size: 300%;
}
.controls {
    position: relative;
    width: 100%;
}
.controls button {
    position: absolute;
    top: 137.5%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50%;
}
.prevBtn {
    left: 0;
}
.nextBtn {
    right: 0;
}
.controls button img {
    width: 100%;
    height: auto;
    max-width: 60px;
}
.main-tit::before{
    content: "";
    flex-grow: 1;
    margin: 0px 16px;
    background: black;
    height: 1px;
}
.main-tit::after{
    content: "";
    flex-grow: 1;
    margin: 0px 16px;
    background: black;
    height: 1px;

}

